* {
  margin: 0px;
  padding: 0px;
}
#mainmobile-div {
  max-height: 5400px;
  margin: auto;
}
#bg-image {
  height: 100vh;
  background: url("BG.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
#navbar {
  display: flex;
  font-family: "Baloo Bhai 2", sans-serif;
}
#middlepart,
#contact {
  display: none;
}
#logo {
  display: flex;
}
#name {
  font-size: 28.33px;
  font-weight: 700;
  margin-left: 20px;
}
#fullstop {
  font-size: 28.33px;
  color: rgba(254, 123, 73, 1);
  font-weight: 700;
}
#navbar img {
  margin-left: 220px;
  width: 18px;
  height: 18px;
  margin-top: 10px;
}
#mainimage {
  margin-top: 20px;
}
#quote {
  font-family: "Paytone One", sans-serif;
  font-size: 30px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -150px;
}
#description {
  display: flex;
  justify-items: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  color: rgba(90, 113, 132, 1);
  margin: 10px 0px 0px 20px;
}
#bigbox {
  background-color: #fff;
  border-radius: 7px;
  width: 327px;
  height: 392px;
  margin-top: 20px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#bigbox:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}
#location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
  margin-top: 15px;
}
#locationbutton,
#datebutton,
#averagebutton {
  display: flex;
  gap: 10px;
  justify-items: center;
  align-items: center;
}
#locationbutton p,
#datebutton p,
#averagebutton p {
  font-size: 16px;
  color: rgba(168, 168, 168, 1);
  font-weight: 600;
}
#locationbutton i,
#datebutton i,
#averagebutton i {
  color: rgba(255, 131, 69, 1);
  font-size: 16px;
}
#locationname,
#dateandtime,
#price {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}
#location img,
#date img {
  margin-top: 20px;
}
#avgprice,
#date,
#explore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
  margin-top: -10px;
}
#explore p {
  width: 177px;
  height: 70px;
  background-color: rgba(254, 123, 73, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  border-radius: 10px;
}
#heading {
  font-family: "Paytone One", sans-serif;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-left: 30px;
  margin-top: 30px;
}
#innerheading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#viewall {
  color: rgba(254, 123, 73, 1);
  font-size: 12px;
  margin-top: 10px;
}
#familyvacation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#mainbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px lightgray solid;
  border-radius: 5px;
  gap: 10px;
  margin-top: 30px;
  width: 260px;
  height: 248px;
}
#mainbox:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}
#familyicon img {
  width: 150px;
  height: 150px;
}
#familyvacation-text p {
  font-weight: 500;
  font-size: 24px;
  font-family: "Paytone One", sans-serif;
  margin-top: -50px;
}
#people p {
  font-family: "Paytone One", sans-serif;
  font-size: 16px;
  color: gray;
  margin-top: -10px;
}
#circle {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
#solid {
  color: darkgrey;
}
#dot {
  color: rgba(254, 123, 73, 1);
}
#packages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
#package-text {
  font-family: "Paytone One", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
#abcimg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  position: relative;
}
#abcimg img {
  object-fit: cover;
  width: 94%;
  height: 100%;
  border-radius: 10px;
}
#abcimg p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
  position: absolute;
  top: 18px;
  right: 28px;
  color: white;
}
#about {
  display: flex;
  margin-top: 30px;
  gap: 20px;
}
#icon {
  display: flex;
  align-items: start;
  justify-content: center;
  color: rgba(254, 123, 73, 1);
}
#placename {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#annapurna {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
}
#duration {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgba(90, 113, 132, 1);
}
#review {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(254, 123, 73, 1);
}
#viewbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
#viewbutton p {
  width: 155px;
  height: 60px;
  background-color: rgba(254, 123, 73, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  border-radius: 10px;
}
#thirdpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 231);
  margin-top: 100px;
}
#quote1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-top: 100px;
}
#uppertext1,
#lowertext1 {
  font-family: "Paytone One", sans-serif;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -80px;
}
#imageofpp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  position: relative;
}
#pachpokhari {
  display: flex;
  align-items: center;
  justify-content: center;
}
#pachpokhari img {
  object-fit: cover;
  width: 94%;
  height: 100%;
  border-radius: 10px;
}
#pachpokhari-text {
  display: flex;
  gap: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  color: white;
  position: absolute;
  bottom: 10px;
}
#explore1 {
  width: 177px;
  height: 70px;
  background-color: rgba(254, 123, 73, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 20px;
}
#explore p:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#explore1:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#viewbutton p:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#fourthpage {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-top: 100px;
}
#manimage {
  display: flex;
  justify-content: center;
  align-items: center;
}
#manimage img {
  object-fit: cover;
  width: 94%;
}
#quote2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-top: 50px;
}
#uppertext2,
#lowertext2 {
  font-family: "Paytone One", sans-serif;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
#feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
#feedback p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  margin: 10px 0 0 20px;
  line-height: 30px;
}
#ceo {
  display: flex;
  justify-content: start;
  align-items: center;
}
#ceo p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  margin: 10px 0 0 20px;
  line-height: 30px;
  color: rgba(90, 113, 132, 1);
}
#circlebutton {
  display: flex;
  align-items: center;
}
#circlebutton i {
  margin: 10px 0 0 20px;
  color: rgba(254, 123, 73, 1);
  font-size: 40px;
  opacity: 50%;
}
#circlebutton i:hover {
  opacity: 100%;
}
#fifthpage {
  height: 820px;
  background: url("BG.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  position: relative;
}
#quote3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
#uppertext3,
#lowertext3 {
  font-family: "Paytone One", sans-serif;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#imgofmap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
#imgofmap img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
#quote4 {
  display: flex;
  flex-direction: column;
  margin-left: -160px;
  margin-top: 50px;
}
#uppertext4 {
  font-family: "Paytone One", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-left: 20px;
}
#email {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}
#emailbox {
  width: 320px;
  height: 50px;
  border-radius: 10px;
  border-color: 1px #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
#emailbox:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}
#subscribe {
  position: absolute;
  top: 12px;
  right: 10px;
  background-color: rgba(254, 123, 73, 1);
  width: 125px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
}
#lastlogo {
  display: flex;
  font-family: "Baloo Bhai 2", sans-serif;
  margin-top: 50px;
  width: 100%;
}
#copyright {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100%;
  margin-left: 40px;
  margin-top: 10px;
}
#icons {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  width: 100%;
  margin-left: 40px;
}
#fotterimg {
  object-fit: contain;
  width: 200px;
  height: 180px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
@media (min-width: 1024px) {
  #mainmobile-div {
    width: 100%;
  }
  #navbar {
    width: 100%;
  }
  #navbar img {
    display: none;
  }
  #bg-img {
    width: 100vh;
    background: url("BG.png") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  #middlepart {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 16px;
    color: rgba(90, 113, 132, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    gap: 70px;
  }
  #middlepart p:hover {
    color: rgba(254, 123, 73, 1);
    cursor: pointer;
  }
  #contact {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  #contact p {
    background-color: rgba(254, 123, 73, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    color: white;
  }
  #contact p:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }
  #mainimage {
    margin-top: 150px;
    margin-right: -700px;
  }
  #mainimage img {
    width: 645px;
    height: 600px;
  }
  #quote {
    font-family: "Paytone One", sans-serif;
    font-size: 80px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -1000px;
    margin-top: -500px;
  }
  #description {
    margin-left: -1000px;
    margin-top: 30px;
    width: 392px;
    font-size: 16px;
  }
  #bigbox {
    background-color: #fff;
    border-radius: 7px;
    width: 1024px;
    height: 140px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    position: absolute;
    bottom: 10px;
    right: 300px;
  }
  #bigbox:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
  }
  #location {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    margin-top: -10px;
  }
  #locationbutton,
  #datebutton,
  #averagebutton {
    display: flex;
    gap: 10px;
    justify-items: center;
    align-items: center;
  }
  #locationbutton p,
  #datebutton p,
  #averagebutton p {
    font-size: 16px;
    color: rgba(168, 168, 168, 1);
    font-weight: 600;
  }
  #locationbutton i,
  #datebutton i,
  #averagebutton i {
    color: rgba(255, 131, 69, 1);
    font-size: 16px;
  }
  #locationname,
  #dateandtime,
  #price {
    font-size: 16px;
    font-weight: 600;
  }
  #location img,
  #date img {
    display: none;
  }
  #avgprice,
  #date,
  #explore {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
  }
  #explore p {
    width: 177px;
    height: 70px;
    background-color: rgba(254, 123, 73, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    border-radius: 10px;
  }
  #heading {
    font-family: "Paytone One", sans-serif;
    font-size: 50px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
  }
  #innerheading {
    display: flex;
    justify-content: start;
    width: 100%;
    gap: 30px;
    position: relative;
  }
  #viewall {
    color: rgba(254, 123, 73, 1);
    font-size: 16px;
    margin-top: 10px;
    position: absolute;
    right: 200px;
  }
}
