* {
  margin: 0px;
  padding: 0px;
}
#mainmobile-div {
  max-width: 360px;
  margin: auto;
  border: 1px solid black;
}
#bg-image {
  height: 100vh;
  background: url("BG.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
#navbar {
  display: flex;
  font-family: "Baloo Bhai 2", sans-serif;
}
#name {
  font-size: 28.33px;
  font-weight: 700;
  margin-left: 20px;
}
#fullstop {
  font-size: 28.33px;
  color: rgba(254, 123, 73, 1);
  font-weight: 700;
}
#navbar img {
  margin-left: 220px;
  width: 18px;
  height: 18px;
  margin-top: 10px;
}
#mainimage {
  margin-top: 20px;
}
#quote {
  font-family: "Paytone One", sans-serif;
  font-size: 30px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -150px;
}
#description {
  display: flex;
  justify-items: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  color: rgba(90, 113, 132, 1);
  margin: 10px 0px 0px 20px;
}
#bigbox {
  background-color: #fff;
  border-radius: 7px;
  width: 327px;
  height: 392px;
  margin-top: 20px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#bigbox:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}
#location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
  margin-top: 15px;
}
#locationbutton,
#datebutton,
#averagebutton {
  display: flex;
  gap: 10px;
  justify-items: center;
  align-items: center;
}
#locationbutton p,
#datebutton p,
#averagebutton p {
  font-size: 16px;
  color: rgba(168, 168, 168, 1);
  font-weight: 600;
}
#locationbutton i,
#datebutton i,
#averagebutton i {
  color: rgba(255, 131, 69, 1);
  font-size: 16px;
}
#locationname,
#dateandtime,
#price {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}
#location img,
#date img {
  margin-top: 20px;
}
#avgprice,
#date,
#explore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
  margin-top: -10px;
}
#explore p {
  width: 177px;
  height: 70px;
  background-color: rgba(254, 123, 73, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  border-radius: 10px;
}
